<ion-toolbar primary>
    <ion-nav-items primary>
        <button (click)="back()">
        <icon arrow-back></icon>
            Back
        </button>
    </ion-nav-items>
    <ion-title>
        {{item.fn+' '+item.ln}}
    </ion-title>
    <ion-nav-items secondary>
        <button (click)="edit()">Edit</button>
    </ion-nav-items>
</ion-toolbar>
<ion-content>
    <ion-card>
        <img [src]="'data:'+item._attachments.avatar.content_type+';base64,'+item._attachments.avatar.data" id="avatar">
        <ion-card-header>
            {{item.fn+' '+item.ln}}
        </ion-card-header>

        <a ion-item href="tel:{{item.office}}" *ng-if="item.office">
            <icon call item-left></icon>
            <h2>Office</h2>
            {{item.office}}
        </a>
        <a ion-item href="tel:{{item.cell}}" *ng-if="item.cell">
            <icon phone-portrait item-left></icon>
            <h2>Cell</h2>
            {{item.cell}}
        </a>
        <a ion-item href="mailto:{{item.email}}" *ng-if="item.email">
            <icon mail item-left></icon>
            {{item.email}}
        </a>

    </ion-card>
</ion-content>